

.el-menu--popup{
    .el-menu-item{
        height: 50px;
		line-height: 48px;
        background-color: #20222a;
        i{
            margin-right: 5px;
        }
        i,span{
            background-color: #00529c;
            color:hsla(0,0%,100%,.7);
        }
        &:hover{
            background-color: #00529c;
            i,span{
                color:#fff;
            }
        }
        &.is-active {
            background-color: rgba(0,0,0,.8);
            &:before {
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                width: 4px;
                background: #409eff;
                position: absolute;
            }
            i,span{
                color:#fff;
            }
        }
    }
    
}
.avue-sidebar {
    user-select: none; 
    position: relative;
    padding-top: 55px;
    height: 100%;
    position: relative;
    background-color: #fff;
    transition: width .2s;
    box-sizing: border-box;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
     .el-scrollbar__wrap {
        overflow-x: hidden;
    }
    &--tip{
        width:90%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        position: absolute;
        top:5px;
        left:5%;
        color:#ccc;
        z-index: 2;
        text-align: center;
        font-size: 14px;
        background-color: rgba(0,0,0,.4);
    }
    .el-scrollbar__view>.el-menu>.menu-wrapper>.el-submenu>.el-submenu__title{
        font-size: 16px !important;  
    }
    .el-menu-item{
        font-size: 14px !important;  
    }
    .el-menu-item,.el-submenu__title{
        // font-size: 16px !important;
		height:35px !important;
		line-height: 32px !important;
        i{
            margin-right: 5px;
        }
        i,span{
            color:#839097;
            // color:hsla(0,0%,100%,.7);
        }
        &:hover{
            background: transparent;
            i,span{
            //    color:#fff;
               color:#00529c;
            }
        }
        &.is-active {
            &:before {
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                width: 4px;
                background: #00529c;
                position: absolute;
            }
            // background-color: rgba(0,0,0,.8);
            background-color: #00529c;
            i,span{
                color:#fff;
            }
        }
    }
    
}